# VScode config folder #
########################
.vscode/

# python cache #
################
__pycache__/

# Test code file #
##################
test.py

# output files #
################
*_table.html
*_stat.txt